body {
    display: grid;
}

.logo {
    margin-left: 10px;
    width: 250px;
    height: 150px;
    background-image: url(adrenaline\ store.png);
    background-size: 120px;
    background-repeat: no-repeat;
}

.nmr {
    margin-top: 80px;
    margin-left: 240px;
}

.pesquisa{
    margin-top: 40px;
    margin-left: -370px;
}

header {
    display:inline-flex;
}

ul {
    margin-top: 80px;
    margin-left: -20px;
}

li{  
    display: inline-block;
    margin: 0 10 px;
}
li a{
    color:blue;
    padding: 10px 27px;
}

input{
    width: 250px;
}



.seila{
    margin-left: 10px;
    border: solid black 1px;
    background-color: rgb(250, 176, 45);
    width: 290px;
    height: 310px;
    display: block;
}

.item {
    border: solid black 1px;
    height:29px;
}

.img-gigante{
    border: solid black 1px;
    width: 888px;
    height: 310px;
    margin-left: 140px;
    background-image: url(nossorestaurante.jfif);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
}

.one {
    display: flex;
}

.featured {
    border: solid black 1px;
    margin-left: 10px;
    width: 788px;
    height: 20px;
    text-align: center;
}

.branco {
    border: solid black 1px;
    width: 478px;
    height: 445px;
    margin-left: 851px;
    margin-top: -445px;
}

.end {
    display: flex;
}

.reference {
    margin-top: 10px;
    display: flex;
    width: 800px;
    height: 200px;
}


.tp1 {
    border: solid black 1px;
    width: 400px;
    margin-left: 10px;
    height: 200px;
    display: flex;
}

.ga {
    display: block;
    margin-left: 20px;
}

.titlle {
    margin-top: 20px;
    font-size:larger;
    width: 150px;
}

.nn {
    margin-top: 20px;
    font-size: medium;
}

.text {
    margin-top: 10px;
    font-size: medium;
    width: 200px;
}

button{
    border-radius: 10px;
}
.buttonmore {
    margin-top: 25px;
}

.reference2 {
    margin-top: 10px;
    display: flex;
    width: 800px;
    height: 200px;
}

.pq {
    border: solid black 1px;
    width: 110px;
    margin-left: 20px;
    margin-top: 20px;
    height: 100px;
    background-image: url(images.jpg);
    background-size: 100px;
    background-repeat: no-repeat;
}